#formContainer {
    display: flex;
    justify-content: center;
    background: var(--color3);
    width: 28rem;
    max-width: 86%;
    border-radius: 1rem;
    margin: 0rem auto 3vh;
}

#form {
    padding: 6vh;
}

.field {
    margin-bottom: 1rem;
  }
                
.field label {
  text-align: left;
  display: block;
  color: var(--color1);
}

.field input {
  display: block;
  width: 100%;
  line-height: 1.5;
  font-size: 14px;
  text-align: left;
}

textarea {
  text-align: left;
  width: 100%;
}

input[type="submit"] {
  display: block;
  margin: 0 auto;
  align-self: center;
  padding: 6px 30px;
  font-size: 1.2rem;
  background-color: var(--color4);
  color: var(--color1);
  border: none;
  transition: .2s;

}
input[type="submit"]:hover {
  border-radius: 1rem;
  transform: scale(1.2);
  background-color: var(--color1);
  color: var(--color3);
  transition: .3s;
}

.disabled-button {
  opacity: .3;
  color: #888;
  cursor: not-allowed;
}
