<app-banner></app-banner>
<h2>Apoyanos</h2>

<div class="apoyanos-text-container">
    <p class="apoyanos-text">La Ola, primer equipo de fútbol femenino en Punta del Diablo, se encuentra en las primeras fases de su desarrollo.</p>
    <p class="apoyanos-text">El 2023 será el primer año en que competiremos en la Liga Rochense de Fútbol Sala. Dar este salto de calidad implica además un incremento en los diversos costos que esto conlleva, entre traslados, inscripciones, compra de materiales, documentación legal, etc.</p>
    <p class="apoyanos-text">Para nosotras es fundamental poder contar con el apoyo tanto de sponsors como de toda la gente que pueda y quiera darnos una mano, con el fin de promover el deporte entre las mujeres de la región y que se pueda generar una base para que las futuras generaciones de mujeres tengan acceso a este hermoso deporte desde las infancias.</p>
    <p class="apoyanos-text">Podés colaborar con nosotras haciendo un aporte a través de los links a Mercado Pago si estás en Uruguay, o a través de PayPal desde el exterior. </p>
</div>
<div class="payments-container">
    <div class="aportes-mpago">
        <span>Aportes por</span>
        <img class="pay-logo" src="assets\img\logo-mpago.png" alt="">
    </div>
    <div class="apoyanos-container">
        <a class="aporte-link" href="http://mpago.la/2pffWfL"><div class="aporte-card"><span class="money-symbol">UY</span> 100</div></a>
        <a class="aporte-link" href="http://mpago.la/1UNSUAh"><div class="aporte-card"><span class="money-symbol">UY</span> 200</div></a>
        <a class="aporte-link" href="http://mpago.la/1StQ6RC"><div class="aporte-card"><span class="money-symbol">UY</span> 500</div></a>
        <a class="aporte-link" href="http://mpago.la/1RN3vsa"><div class="aporte-card"><span class="money-symbol">UY</span> 1000</div></a>
    </div>
    <a href="https://www.paypal.com/donate/?hosted_button_id=SXLASA4TG7C3W" class="aporte-link paypal">
        <span class="paypal-text">Aportes por</span>
        <img class="pay-logo" src="assets\img\logo-paypal.png" alt="">
    </a>
</div>
<div class="apoyanos-text-container">
    <p class="apoyanos-text">Si querés apoyarnos desde otro lugar, ya sea con equipamiento, servicios, o si tenés alguna idea para colaborar con nosotras, no dudes en utilizar nuestro <a class="hyperlink" href="/contacto">formulario de contacto</a> </p>
</div>