<app-banner></app-banner>
<div class="sumate-container">
<h2>¿Querés ser parte de La Ola?</h2>
    <p>Nuestro plantel entrena los martes y los jueves de 17 a 19 horas en el Gimnasio Municipal de la Coronilla.</p>
    <a href="https://www.google.com/maps/place/Gimnasio+Municipal+de+La+Coronilla/@-33.8958282,-53.5195007,15z/data=!4m2!3m1!1s0x0:0xd0ae3dc3ab41ad50?sa=X&ved=2ahUKEwiotr3zmtX_AhWdpZUCHbfIA-QQ_BJ6BAhQEAg" target="_blank" rel="noopener noreferrer"><img class="map-gimnasio" src="assets\img\location\gimnasio.png" alt=""></a>
    <img class="front-gimnasio" src="assets\img\location\coro5.jpg" alt="">
    <img class="front-gimnasio" src="assets\img\location\coro1.jpg" alt="">
    <img class="front-gimnasio" src="assets\img\location\coro2.jpg" alt="">
    <img class="front-gimnasio" src="assets\img\location\coro3.jpg" alt="">
    <img class="front-gimnasio" src="assets\img\location\coro4.jpg" alt="">
    <p>Si te gustaría conocer más sobre nosotras, podés escribirnos a través de nuestro <a class="hyperlink" href="/contacto">formulario de contacto</a>, y en breve te contactaremos para ayudarte a ser parte de este gran equipo.</p>
</div>

