.sumate-container {
    margin: 0 auto;
    margin-bottom: 3vh;
    width: 90%;
}

.sumate-container {
    max-width: 800px;
}

.sumate-img {
    border-radius: 1rem;
}

.front-gimnasio, .map-gimnasio {
    width: 100%;
    margin: 1rem 0;
}
