.grid {
    display: grid;
    /* justify-items: center; */
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 5rem;
    padding: 0 1rem;
    margin-bottom: 3vh;
}

h2 {
    padding: 2rem;
    font-weight: 800;
}


