<h2>Liga Rochense de Futbol de Salón Femenino</h2>
<div class="table-container">
    <h2>Torneo Preparación 2023<br> 
    </h2>

    <!-- SERIE A TABLE -->
    <table class="league-table">
        <thead class="serie-header">
            <tr class="serie-header-content">
                <th colspan="100">Serie A</th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th>#</th>
                <th>Equipo</th>
                <th>J</th>
                <th>G</th>
                <th>E</th>
                <th>P</th>
                <th>GF</th>
                <th>GC</th>
                <th>DIF</th>
                <th>Pts</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td class="team-name-logo-centered"><span><img src="assets/img/club-logos/electras.png" alt=""></span><br>Electras</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>+0</td>
                <td class="pts">0</td>
            </tr>
            <tr>
                <td>3</td>
                <td class="team-name-logo-centered"><span><img src="assets/img/club-logos/estación.png" alt=""></span><br> La Estación</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>+0</td>
                <td class="pts">0</td>
            </tr>
            <tr>
                <td>5</td>
                <td class="team-name-logo-centered"><span><img src="assets/img/club-logos/paloma.png" alt=""></span><br>La Paloma</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>+0</td>
                <td class="pts">0</td>
            </tr>
            <tr>
                <td>6</td>
                <td class="team-name-logo-centered"><span><img src="assets/img/club-logos/congreso.png" alt=""></span><br>Plaza Congreso</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>+0</td>
                <td class="pts">0</td>
            </tr>
        </tbody>
    </table>

    <!-- SERIE B TABLE -->
    <table class="league-table">
        <thead class="serie-header">
            <tr class="serie-header-content">
                <th colspan="10">Serie B</th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th>#</th>
                <th>Equipo</th>
                <th>J</th>
                <th>G</th>
                <th>E</th>
                <th>P</th>
                <th>GF</th>
                <th>GC</th>
                <th>DIF</th>
                <th>Pts</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td class="team-name-logo-centered"><span><img src="assets/img/laola.png" alt=""></span><br>Punta del Diablo</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>+0</td>
                <td class="pts">0</td>
            </tr>
            <tr>
                <td>3</td>
                <td class="team-name-logo-centered"><span><img src="assets/img/club-logos/abasto.png" alt=""></span><br>La Abasto</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>+0</td>
                <td class="pts">0</td>
            </tr>
            <tr>
                <td>7</td>
                <td class="team-name-logo-centered"><span><img src="assets/img/club-logos/piedras.png" alt=""></span><br>Las Piedras</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>+0</td>
                <td class="pts">0</td>
            </tr>
            <tr>
                <td>8</td>
                <td class="team-name-logo-centered"><span><img src="assets/img/club-logos/bohemias.png" alt=""></span><br>Bohemias</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>+0</td>
                <td class="pts">0</td>
            </tr>
        </tbody>
    </table>

    <!-- FIXTURE -->
    <h2>Fixture</h2>
    <table class="league-table">
        <thead class="serie-header">
            <tr class="serie-header-content">
                <th colspan="4">          
                    <div class="matchday-header-container">
                        <button class="arrow left-arrow" [disabled]="currentMatchday === 1" (click)="navigateMatchday('previous')"><img src="assets\img\arrow-left.webp"></button>
                        <span>FECHA {{ currentMatchday }}</span>
                        <button class="arrow right-arrow" [disabled]="currentMatchday === totalMatchdays" (click)="navigateMatchday('next')"><img src="assets\img\arrow-right.webp"></button>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let match of matches[currentMatchday - 1]">
                <!-- Iterate through teams (matchday), look up info and bring IMG by splitting up names -->
                <td class="team-name-logo-centered"><span><img [src]="'assets/img/club-logos/' + (match.equipoLocal.split(' ').length > 1 ? match.equipoLocal.split(' ')[1].toLowerCase() : match.equipoLocal.toLowerCase()) + '.png'" alt=""></span><br>{{ match.equipoLocal }}</td>
                <td class="fixture-result">{{ match.golesLocal }}</td>
                <td class="fixture-result">{{ match.golesVisitante }}</td>
                <td class="team-name-logo-centered"><span><img [src]="'assets/img/club-logos/' + (match.equipoVisitante.split(' ').length > 1 ? match.equipoVisitante.split(' ')[1].toLowerCase() : match.equipoVisitante.toLowerCase()) + '.png'" alt=""></span><br>{{ match.equipoVisitante }}</td>
            </tr>
        </tbody>
    </table>
    <div class="pagination">
        <button class="page-link" *ngFor="let page of pages" [class.active]="page === currentMatchday" (click)="navigateMatchday(page)">{{ page }}</button>
      </div>
    </div>
    
    <div class="results-container">
        <div class="result-card-wrapper">
            <p class="result-title">Último partido:</p>
            <div class="result-card">
                <img src="assets/img/laola.png" alt="">
                <p class="result-text">0 : 0</p>
                <img src="assets/img/club-logos/electras.png" alt="">
            </div>
        </div>
        <div class="result-card-wrapper">
            <p class="result-title">Próximo partido:</p>
            <div class="result-card">
                <img src="assets/img/laola.png" alt="">
                <p class="result-text">17/12 <br> 21:00 hs</p>
                <img src="assets/img/club-logos/congreso.png" alt="">
            </div>
        </div>
    </div>