/* LEAGUE TABLE */
.table-container {
    background-color: var(--color5);
    width: 90%;
    max-width: 700px;
    text-align: center;
    border-radius: 1rem;
    margin: 0 auto;
    /* box-shadow: 0px 0px 120px 4px; */
}

.table-container h2 {
    color: var(--color1);
    /* margin-block-end: 0; */
}

.league-table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--color1);
    font-size: .9rem;
}

tr:nth-of-type(2n+1) {
    background: rgb(186, 195, 202);
}
thead tr {
    background: var(--color1);
}

tr>td:nth-child(2){
    text-align: left;
    /* padding-left: .5rem; */
}

td, th, tr {
    border: .1rem solid var(--color3);
    padding: .4rem;
}

td span img {
    height: 1.8rem;
    vertical-align: middle;
    margin-right: .2rem;
}

/* RESULTS AND NEXT MATCH */
.results-container {
    display: flex;
    justify-content: space-between;
    /* margin-top: 3vh; */
}

.result-card-wrapper * {
    color: var(--color1);
    padding: .3rem;
}
.result-card-wrapper {
    display: flex;
    flex-direction: column;
    background-color: var(--color5);
    color: var(--color5);
    /* border-radius: 2rem; */
    min-height: 10vh;
    width: 49%;
    align-items: center;
    /* box-shadow: 0 1rem 1rem 1px black; */
    padding-top: 1rem;
    border-radius: 0 0 1rem 1rem;
}


.result-card{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: .8rem;
    align-items: center;
    justify-content: space-evenly;
}

.result-title {
    height: 1%;
}

.result-card > img{
    height: 3rem;
    width: 3rem;
}

.result-title, .result-text {

    font-weight: 800;
    text-align: -webkit-center;
}



@media only screen and (max-width: 500px) {
    tr {
        height: 3rem;
    }
}