<div class="table-container">
    <h2>Posiciones<br> 
        Liga Rochense de Futsal 2022
    </h2>
    <table class="league-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Equipo</th>
                <th>G</th>
                <th>E</th>
                <th>P</th>
                <th>GF</th>
                <th>GC</th>
                <th>DIF</th>
                <th>Pts</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td><span><img src="assets/img/laola.png" alt=""></span>Punta del Diablo</td>
                <td>5</td>
                <td>1</td>
                <td>0</td>
                <td>17</td>
                <td>5</td>
                <td>+12</td>
                <td>16</td>
            </tr>
            <tr>
                <td>1</td>
                <td><span><img src="assets/img/laola.png" alt=""></span>Ansina</td>
                <td>5</td>
                <td>1</td>
                <td>0</td>
                <td>17</td>
                <td>5</td>
                <td>+12</td>
                <td>16</td>
            </tr>
            <tr>
                <td>3</td>
                <td><span><img src="assets/img/laola.png" alt=""></span>Peñarol</td>
                <td>5</td>
                <td>1</td>
                <td>0</td>
                <td>17</td>
                <td>5</td>
                <td>+12</td>
                <td>16</td>
            </tr>
            <tr>
                <td>3</td>
                <td><span><img src="assets/img/laola.png" alt=""></span>Sauce</td>
                <td>5</td>
                <td>1</td>
                <td>0</td>
                <td>17</td>
                <td>5</td>
                <td>+12</td>
                <td>16</td>
            </tr>
            <tr>
                <td>5</td>
                <td><span><img src="assets/img/laola.png" alt=""></span>Cerro</td>
                <td>5</td>
                <td>1</td>
                <td>0</td>
                <td>17</td>
                <td>5</td>
                <td>+12</td>
                <td>16</td>
            </tr>
            <tr>
                <td>6</td>
                <td><span><img src="assets/img/laola.png" alt=""></span>La Palma</td>
                <td>5</td>
                <td>1</td>
                <td>0</td>
                <td>17</td>
                <td>5</td>
                <td>+12</td>
                <td>16</td>
            </tr>
            <tr>
                <td>7</td>
                <td><span><img src="assets/img/laola.png" alt=""></span>Rocha City Torque</td>
                <td>5</td>
                <td>1</td>
                <td>0</td>
                <td>17</td>
                <td>5</td>
                <td>+12</td>
                <td>16</td>
            </tr>
            <tr>
                <td>8</td>
                <td><span><img src="assets/img/laola.png" alt=""></span>Valizas</td>
                <td>5</td>
                <td>1</td>
                <td>0</td>
                <td>17</td>
                <td>5</td>
                <td>+12</td>
                <td>16</td>
            </tr>
        </tbody>
    </table>
    <div class="results-container">
        <div class="result-card-wrapper">
            <p class="result-title">Último partido:</p>
            <div class="result-card">
                <img src="assets/img/laola.png" alt="">
                <p class="result-text">4 : 0</p>
                <img src="assets/img/laola.png" alt="">
            </div>
        </div>
        <div class="result-card-wrapper">
            <p class="result-title">Próximo partido:</p>
            <div class="result-card">
                <img src="assets/img/laola.png" alt="">
                <p class="result-text">17/12 <br> 21:00 hs</p>
                <img src="assets/img/laola.png" alt="">
            </div>
        </div>
    </div>