<h2>Liga Rochense de Futbol de Salón Femenino</h2>
<div class="table-container">
    <h2>Torneo Preparación 2023<br> 
    </h2>

    <!-- SERIE A TABLE -->
    <table class="league-table">
        <thead class="serie-header">
            <tr class="serie-header-content">
                <th colspan="100">Serie A</th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th class="header-posicion-column">#</th>
                <th class="header-equipo-column">Equipo</th>
                <th class="header-jugados-column">J</th>
                <th class="header-ganados-column">G</th>
                <th class="header-empatados-column">E</th>
                <th class="header-perdidos-column">P</th>
                <th class="header-favor-column">GF</th>
                <th class="header-contra-column">GC</th>
                <th class="header-diferencia-column">DIF</th>
                <th class="header-puntos-column">Pts</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td class="team-name-logo-centered"><span><img src="assets/img/club-logos/congreso.webp" alt=""></span><br>Plaza Congreso</td>
                <td>1</td>
                <td>1</td>
                <td>0</td>
                <td>0</td>
                <td>5</td>
                <td>1</td>
                <td>+4</td>
                <td class="pts">2</td>
            </tr>
            <tr>
                <td>1</td>
                <td class="team-name-logo-centered"><span><img src="assets/img/club-logos/electras.webp" alt=""></span><br>Electras</td>
                <td>1</td>
                <td>1</td>
                <td>0</td>
                <td>0</td>
                <td>8</td>
                <td>7</td>
                <td>+1</td>
                <td class="pts">2</td>
            </tr>
            <tr>
                <td>3</td>
                <td class="team-name-logo-centered"><span><img src="assets/img/club-logos/estación.webp" alt=""></span><br>La Estación</td>
                <td>1</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>7</td>
                <td>8</td>
                <td>-1</td>
                <td class="pts">0</td>
            </tr>
            <tr>
                <td>3</td>
                <td class="team-name-logo-centered"><span><img src="assets/img/club-logos/paloma.webp" alt=""></span><br>La Paloma</td>
                <td>1</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>1</td>
                <td>5</td>
                <td>-4</td>
                <td class="pts">0</td>
            </tr>
        </tbody>
    </table>

    <!-- SERIE B TABLE -->
    <table class="league-table">
        <thead class="serie-header">
            <tr class="serie-header-content">
                <th colspan="10">Serie B</th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th class="header-posicion-column">#</th>
                <th class="header-equipo-column">Equipo</th>
                <th class="header-jugados-column">J</th>
                <th class="header-ganados-column">G</th>
                <th class="header-empatados-column">E</th>
                <th class="header-perdidos-column">P</th>
                <th class="header-favor-column">GF</th>
                <th class="header-contra-column">GC</th>
                <th class="header-diferencia-column">DIF</th>
                <th class="header-puntos-column">Pts</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td class="team-name-logo-centered"><span><img src="assets/img/club-logos/bohemias.webp" alt=""></span><br>Bohemias</td>
                <td>1</td>
                <td>1</td>
                <td>0</td>
                <td>0</td>
                <td>14</td>
                <td>3</td>
                <td>+11</td>
                <td class="pts">2</td>
            </tr>
            <tr>
                <td>1</td>
                <td class="team-name-logo-centered"><span><img src="assets/img/club-logos/abasto.webp" alt=""></span><br>La Abasto</td>
                <td>1</td>
                <td>1</td>
                <td>0</td>
                <td>0</td>
                <td>7</td>
                <td>1</td>
                <td>+6</td>
                <td class="pts">2</td>
            </tr>
            <tr>
                <td>3</td>
                <td class="team-name-logo-centered"><span><img src="assets/img/club-logos/ola.webp" alt=""></span><br>La Ola</td>
                <td>1</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>1</td>
                <td>7</td>
                <td>-6</td>
                <td class="pts">0</td>
            </tr>
            <tr>
                <td>3</td>
                <td class="team-name-logo-centered"><span><img src="assets/img/club-logos/piedras.webp" alt=""></span><br>Las Piedras</td>
                <td>1</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>3</td>
                <td>14</td>
                <td>-11</td>
                <td class="pts">0</td>
            </tr>
        </tbody>
    </table>

    <!-- FIXTURE -->
    <h2>Fixture</h2>
    <table class="league-table">
        <thead class="serie-header">
            <tr class="serie-header-content">
                <th colspan="4">          
                    <div class="matchday-header-container">
                        <button class="arrow left-arrow" [disabled]="currentMatchday === 1" (click)="navigateMatchday('previous')"><img src="assets\img\arrow-left.webp"></button>
                        <span>FECHA {{ currentMatchday }}</span>
                        <button class="arrow right-arrow" [disabled]="currentMatchday === totalMatchdays" (click)="navigateMatchday('next')"><img src="assets\img\arrow-right.webp"></button>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let match of matches[currentMatchday - 1]">
                <!-- Iterate through teams (matchday), look up info and bring IMG by splitting up names -->
                <td class="team-name-logo-centered"><span><img [src]="'assets/img/club-logos/' + (match.equipoLocal.split(' ').length > 1 ? match.equipoLocal.split(' ')[1].toLowerCase() : match.equipoLocal.toLowerCase()) + '.webp'" alt=""></span><br>{{ match.equipoLocal }}</td>
                <td class="fixture-result">{{ match.golesLocal }}</td>
                <td class="fixture-result">{{ match.golesVisitante }}</td>
                <td class="team-name-logo-centered"><span><img [src]="'assets/img/club-logos/' + (match.equipoVisitante.split(' ').length > 1 ? match.equipoVisitante.split(' ')[1].toLowerCase() : match.equipoVisitante.toLowerCase()) + '.webp'" alt=""></span><br>{{ match.equipoVisitante }}</td>
            </tr>
        </tbody>
    </table>
    <div class="pagination">
        <button class="page-link" *ngFor="let page of pages" [class.active]="page === currentMatchday" (click)="navigateMatchday(page)">{{ page }}</button>
      </div>
    </div>
    
    <div class="results-container">
        <div class="result-card-wrapper">
            <p class="result-title">Último partido:</p>
            <div class="result-card">
                <img src="assets/img/club-logos/abasto.webp" alt="">
                <p class="result-text">7 : 1</p>
                <img src="assets/img/club-logos/ola.webp" alt="">
            </div>
        </div>
        <div class="result-card-wrapper">
            <p class="result-title">Próximo partido:</p>
            <div class="result-card">
                <img src="assets/img/laola.png" alt="">
                <p class="result-text">08/07 <br> 16:00 hs</p>
                <img src="assets/img/club-logos/bohemias.webp" alt="">
            </div>
        </div>
    </div>