html * {
    font-family: "Montserrat";
    justify-items: center;
    text-align: center;
    margin: 0;
    color: var(--color5);
}

:root{
     /* TRY THIS PALETTES TOO  */
    /* --color1: #E9F1F3;  
    --color2: hsla(186, 97%, 48%, 1);
    --color5: #151B28;
    --color3: #3782B4;
    --color4: #4B4B4B;  
    --colorDanger:rgb(186, 2, 2);  */
    
    /* --color1: hsla(186, 100%, 96%, 1);
    --color2: #d3f4ff;
    --color3: #a6eaff;
    --color4: #3782B4;
    --color5: #27697e;  
    --colorDanger:rgb(186, 2, 2);  */

    /* COLOR PALETTE FROM LOGO */
    --color1: #d7e3ec;
    --color2: #6bc4e9;
    --color3: #060f24;
    --color4: #1c82bf;
    --color5: #1a3f93;  
    --colorDanger:rgb(186, 2, 2); 
    
/* ORIGINAL COLORS */
    /* --color1: hsla(186, 100%, 96%, 1);
    --color2: hsla(186, 97%, 48%, 1);
    --color3: hsla(186, 96%, 39%, 1);
    --color4: hsla(186, 96%, 30%, 1);
    --color5: hsla(186, 97%, 12%, 1);  
    --colorDanger:rgb(186, 2, 2);  */
}

body {
    /* background: linear-gradient(90deg, var(--color2) 0%, var(--color4) 100%); */
    background-image: url("assets\img\gradient.png");
    background-size: cover;
}

.overflow-hidden {
    overflow: hidden;
  }

h1 {
    padding-top: 16px;
    font-weight: 800;
    font-size: 3rem;
    text-shadow: 0rem 0rem 1.5rem var(--color1);
}

h2 {
    color: var(--color1);
    font-weight: 500;
    text-shadow: 0rem 0rem .5rem var(--color1);
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
}

li {
    font-weight: 600;
    padding: .5rem;
    text-align: center;
}

p {
    color: var(--color1);
}