
<app-banner></app-banner>

<h2>Primer Equipo de Fútbol Femenino de Punta del Diablo</h2>

<app-carousel [images]="images" [autoSlide]="true"></app-carousel>

<p id="intro">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, odit! Corporis iure omnis tenetur quis vero libero voluptate molestiae, sunt exercitationem temporibus aperiam facere nesciunt deserunt beatae illo repudiandae explicabo?</p>

<app-league-table class="table-component"></app-league-table>

<app-contact-form></app-contact-form>
