
<app-banner></app-banner>

<h2>Primer Equipo de Fútbol Femenino de Punta del Diablo</h2>

<app-carousel [images]="images" [autoSlide]="true" ></app-carousel>

<p id="intro">La Ola, el primer equipo de fútbol femenino de Punta del Diablo, comenzó en el año 2020, cuando un grupo de mujeres autogestivas residentes de nuestro pueblo se organizó en el Parque Público con la idea de generar un espacio donde las mujeres pudieran juntarse a jugar al fútbol.
    <br><br>
    En este 2023, el equipo decidió consolidar su identidad y evolución anotándose para formar parte de la Liga Rochense de Fútbol Sala femenina. Si querés saber cómo podés darnos una mano, <a class="hyperlink" href="/apoyanos">entrá a nuestra sección "Apoyanos"</a>.
</p>

<app-league-table class="table-component"></app-league-table>

<app-contact-form></app-contact-form>
